.site-header {
    width: 100%;
    background: #292a30;
}

.site-header .logo-area {
    float: left;
}

.site-header .logo-area h1 a {
    width: 17rem;
    display: block;
    text-indent: -9999px;
}

.site-header .logo-area h2 a {
    height: 0;
    display: block;
    text-indent: -9999px;
}

.site-header .logo-area .logo {
    width: 12rem;
    height: 4rem;
    margin: 0.25rem 0;
    float: right;
}

.site-header .logo-area .icon {
    width: 3rem;
    height: 3.5rem;
    margin: 0.75rem 0.5rem 0.25rem 1rem;
    float: left;
}

.site-header .search-field {
    margin: 1rem auto;
    padding: 3px 0 3px 3px;
    width: 30rem;
    height: 2.5rem;
    background: #8c8c77;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.site-header .search-box-input {
    width: 25rem;
    height: 2.2rem;
    background-color: #fff;
    float: left;
}

.site-header .search-box-input input {
    width: 25rem;
    height: 2rem;
    border: none;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.site-header .btn-search {
    width: 4.5rem;
    height: 2.2rem;
    padding: 0;
    border: 0;
    background-color: #8c8c77;
    font-size: 1.6rem;
    float: left;
}

.site-header .user {
    margin: 1rem 0;
    font-size: 2rem;
    color: #eee;
    float: right;
}

.site-header .user .login-button {
    text-decoration: none;
    color: #ab8051;
}

.site-header .user .login-button:hover {
    text-decoration: none;
    color: #8c8c77;
}

.site-header .user .photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 126px;
    border: 1px solid #000;
}

@media (max-width: 600px) {
    .site-header .user {
        position: absolute;
        top: 4.5rem;
        left: 24rem;
    }

    .site-header .user span {
        display: none;
    }

    .site-header .h1 {
        width: 9rem;
        height: 3rem;
        margin: 1rem 0;
    }

    .site-header .logo {
        display: none;
    }

    .site-header .search-field {
        width: 15rem;
    }

    .site-header .search-box-input {
        width: 10rem;
        height: 2rem;
    }

    .site-header .search-box-input input {
        width: 10rem;
    }
}

.copy-right {
    width: 100%;
    padding: 2rem 0;
    background: #292a30;
}

.copy-right p {
    font-family: Arial;
    text-align: center;
    color: #fff;;
    line-height: 1rem;
    font-size: 0.7rem;
}

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #284641;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

#back-to-top:hover {
    background: #27ae60;
}

#back-to-top:active {
    background: #284641;
}

#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}