html, body, h1, span, div {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 100%;
    background-color: #fdffdf;
}

.floor img {
    width: 100%;
    height: 100%;
}

.floor-left {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #fff;
}

.floor-right {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
}

.child {
    background-color: #daf9ca;
}

.girl {
    background-color: #efcee8;
}

.boy {
    background-color: #f3d7b5;
}

/*index mask start*/
.index-mask {
    height: 100%;
    overflow: hidden;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.index-mask_top {
    height: 62%;
    background: url("../img/index-present-top.jpg") no-repeat center;
}

.index-mask_below {
    height: 38%;
    background: url("../img/index-present-below.jpg") no-repeat center;
}

.index-mask--title {
    font-family: 微软雅黑;
    font-size: 3rem;
    padding-top: 3rem;
    color: #5A4446;
    text-align: center;
}

.index-mask--open {
    font-family: 微软雅黑;
    font-size: 3rem;
    color: #5A4446;
    text-align: center;
    cursor: pointer;
}

/*index mask end*/