html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

.index-mask {
    height: 100%;
    overflow: hidden;
}

.index-mask_top {
    height: 62%;
    background: url("../img/index-present-top.jpg");
}

.index-mask_below {
    height: 38%;
    background: url("../img/index-present-below.jpg");
}