body > header, body > section, body > footer {
    float: left;
    width: 100%;
    clear: both;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.clear {
    display: block;
}

.floor {
    padding: 2em;
}

.night {
    background: #2c3137 url(../img/night-background.png) top;
    color: #ddd;
}

.sea {
    background: #3c98d9 url(../img/sea-background.jpg) no-repeat top;
    color: #fdfcf3;
}

.spicy {
    background: linear-gradient(to right, #1a1a1a, #caa703, #1a1a1a);
    color: #0d0d0f;
}

.block {
    max-width: 978px;
    margin: 0 auto;
    display: block;
    clear: both;
    padding: 0 20px 30px;
}

.block h2 {
    margin: 1em 0;
    font-size: 2em;
}

.block h2 b {
    margin: 1rem;
    font-size: 2em;
}

.block img {
    float: left;
    margin: 1.75em 2em 2.5em 1.5em;
    width: 20em;
    height: 17em;
}

.block p {
    margin: 1.75em 0;
    font-size: 1.15em;
    text-indent: 2em;
}

.ahead-food {
    margin: 2em 2em 0 0;
}

.night h2 b {
    color: #008B8B;
}

.sea h2 b {
    color: #e0b800;
}

.spicy h2 b {
    color: #9e1313;
}

.night .ahead-food {
    float: right;
    cursor: pointer;
    color: brown;
}

.sea .ahead-food {
    float: right;
    cursor: pointer;
    color: #fff7a4;
}

.spicy .ahead-food {
    float: right;
    cursor: pointer;
    color: #0d0d0f;
}

/*index mask start*/
.index-mask {
    height: 100%;
    overflow: hidden;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.index-mask_top {
    height: 62%;
    background: url("../img/index-present-top.jpg") no-repeat center;
}

.index-mask_below {
    height: 38%;
    background: url("../img/index-present-below.jpg") no-repeat center;
}

.index-mask--title {
    font-family: 微软雅黑;
    font-size: 3em;
    padding-top: 3em;
    color: #5A4446;
    text-align: center;
}

.index-mask--open {
    font-family: 微软雅黑;
    font-size: 3em;
    color: #5A4446;
    text-align: center;
    cursor: pointer;
}

/*index mask end*/

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(39, 174, 96, .6);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

#back-to-top:hover {
    background: #27ae60;
}

#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.fa-angle-up:before {
    content: "\f106";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

