
html, body {
    font-family: 微软雅黑, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

@media (max-width: 600px) {
    html, body {
        font-family: 华文新魏, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.login-bg {
    margin-left: -20rem;
}

.content-layout {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
    position: absolute;
    top: 10rem;
    left: 75rem;
}