body > header, body > section, body > footer {
    float: left;
    width: 100%;
    clear: both;
}

html, body {
    font-family: Consolas, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.clear {
    display: block;
    clear: both;
}

.site-header {
    height: 8rem;
    background: url(../img/signage.jpg) no-repeat left;
}

.site-header h1 {
    margin: 1rem 0;
    font-size: 2rem;
    text-indent: -1000px;
}

.filter-area {
    margin-top: 9rem;
}

.pitch-on {
    border: 1px solid #000;
}

.pitch-on p {
    margin: 0.25rem 1rem 0.25rem 0.25rem;
    float: left;
}

.pitch-on ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.pitch-on ul li {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0.25rem 0.5rem;
    padding: 0 0.5rem;
    float: left;
}

.pitch-on ul li span {
    margin: 0.25rem 0 0.25rem 0.25rem;
    cursor: pointer;
}

.pitch-on div {
    margin: 0.25rem 0 0.25rem 0.25rem;
}

.pitch-on div input {
    margin: 0.25rem 0 0.25rem 0.25rem;
}

.waiting-for-selection {
    margin: 1rem 0;
}

.waiting-for-selection p {
    margin: 0.25rem 1rem 0.25rem 0.25rem;
    height: 200px;
    float: left;
}

.waiting-for-selection .param-parent {
    width: 100%;
    height: 2rem;
    margin: 0.25rem 0;
    border-radius: 5px;
}

.waiting-for-selection .param-parent ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.waiting-for-selection .param-parent ul li {
    border: 1px solid black;
    text-align: center;
    margin: 0.25rem 0;
    padding: 0 0.5rem;
    float: left;
    cursor: pointer;
}

.waiting-for-selection .param-children {
    width: 100%;
    margin: 0.25rem 0;
    border-radius: 5px;
}

.waiting-for-selection .param-children ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.waiting-for-selection .param-children ul li {
    border: 1px solid black;
    text-align: center;
    margin: 0.25rem 0;
    padding: 0 0.5rem;
    float: left;
    cursor: pointer;
}