body > header, body > section, body > footer {
    float: left;
    width: 100%;
    clear: both;
}

html, body {
    font-family: Consolas, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.clear {
    display: block;
    clear: both;
}

.filter-area {
    margin-top: 9rem;
    padding: 1rem;
}

.pitch-on p {
    margin: 0.25rem 1rem 0.25rem 0.25rem;
    float: left;
}

.pitch-on ul {
    padding-left: 0;
}

.pitch-on ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.pitch-on ul li {
    background-color: #528870;
    border: 3px solid #bcd0c5;
    color: #fdecd0;
    border-radius: 6px;
    text-align: center;
    margin: 0.25rem 0.5rem;
    padding: 0 0.5rem;
    float: left;
}

.pitch-on ul li span {
    margin: 0.25rem 0 0.25rem 0.25rem;
    cursor: pointer;
    color: #91bfbf;
}

.pitch-on div {
    margin: 0.25rem 0 0.25rem 0.25rem;
    padding: 0.3rem;
    border: 3px solid #fdecd0;
}

.pitch-on div input {
    margin: 0.25rem 0 0.25rem 0.25rem;
}

.waiting-for-selection {
    width: 79%;
    border: 1px solid #E4E4E4;
    margin: 1rem 0;
}

.waiting-for-selection p {
    margin: 0.25rem 1rem 0.25rem 0.25rem;
    height: 200px;
    float: left;
}

.waiting-for-selection .param-parent {
    height: 3rem;
    margin: 0.25rem 0;
    border-radius: 5px;
    float: left;
}

.waiting-for-selection .param-parent ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.waiting-for-selection .param-parent ul li {
    background-color: #91bfbf;
    border: 3px solid #fdecd0;
    color: #528870;
    text-align: center;
    margin: 0.25rem 0;
    padding: 0.2rem 0.7rem;
    float: left;
    cursor: pointer;
}

.waiting-for-selection .param-children {
    margin: 0.25rem 0;
    border-radius: 5px;
    float: left;
}

.waiting-for-selection .param-children ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.waiting-for-selection .param-children ul li {
    background-color: #fdecd0;
    color: #528870;
    border-radius: 6px;
    text-align: center;
    margin: 0.3rem 0.5rem;
    padding: 0.25rem 0.7rem;
    float: left;
    cursor: pointer;
}

.recipe-list {
    height: 60rem;
    margin: 0 1rem;
}

.recipe {
    width: 35rem;
    height: 18rem;
    margin: 0.5rem;
    border: 3px solid #fdecd0;
    float: left;
}

.recipe img {
    height: 13rem;
    margin: 0 1rem 1rem 1rem;
    float: left;
}

.recipe h3 {
    width: 33rem;
    margin: 1rem;
    text-align: center;
    color: #91bfbf;
}

.recipe p {
    text-indent: 2rem;
    margin: 2rem 0;
}