html, body, h1, span, div {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #292a30;
    font-size: 100%;
}

.content {
    background-color: #eee;
    color: #008B8B;
    margin: 2rem auto;
    padding: 2rem;
}

#submit{
    color: #146e32;
    padding:14px 55px;
    background-color:rgba(122, 192, 160, 0.47);
    font-size:16px;
    margin-left:44%;
    cursor: pointer;
}

#submit:hover{
    background-color: rgba(122, 192, 160, 0.7);
}