<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamedow.laodoufang.mapper.UsersMapper">
    <resultMap id="users" type="com.jamedow.laodoufang.entity.Users">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.jamedow.laodoufang.entity.Users" keyProperty="id">
        insert into users(username,password)
        values
        (#{username},#{password});
    </insert>

    <select id="getUserEntityById" parameterType="String" resultMap="users">
        select * from users where userid=#{id};
    </select>

    <select id="getUserEntities" resultMap="users">
        select * from users;
    </select>
</mapper>