html, body, h1, span, div {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #eee;
    font-size: 100%;
}

.product-detail {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
    margin: 1rem auto 0.25rem auto;
}

.product-detail article {
    margin-top: 2rem;
    max-width: 750px;
    float: right;
}

.product-detail article p {
    padding: 2rem;
    line-height: 2rem;
}

.product-detail article img {
    width: 100%;
}