<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>



    <!-- Bootstrap -->
    <link href="${rc.contextPath}/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="${rc.contextPath}/static/ajax-dialog.js"></script>
    <script src="${rc.contextPath}/static/jquery/jquery-3.1.1.min.js"></script>
    <script src="${rc.contextPath}/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="${rc.contextPath}/static/dialog/dialog-min.js"></script>

</head>
<body>




    <button id="login" class="btn btn-default" >登录/注册</button>



<script >
    $(document).ready(function() {


        $("#login").click(function () {



            $("#loginDialog").modal();

        });

        $("#signin").click(function () {

            $("#signin").addClass("action-title");
            $("#signup").removeClass("action-title");
            $("#signupBody,#signupSubmit").remove();
            $("#loginBody").addClass("dialog-body");
            $("#loginBody").removeClass("signup-dialog-body");
            $("#signinBody,#signinSubmit").show();
        });

        $("#signup").click(function () {

            $("#signup").addClass("action-title");
            $("#signin").removeClass("action-title");
            $("#signinBody,#signinSubmit").hide();
            $("#loginBody").addClass("signup-dialog-body");
            $("#loginBody").removeClass("dialog-body");
            $("#loginBody").append("<div class='modal-body'' id='signupBody'><div class='form-group'><label for='userName'>用户名</label> <input type='text' name='userName' class='form-control' id='userName' placeholder='请输入用户名/账号'> </div> <div class='form-group'> <label for='password'>密码</label> <input type='password'  name='password' class='form-control' id='password' placeholder='请输入密码'> </div> <div class='form-group'> <label for='passwordConfirm'>确认密码</label> <input type='password'  name='passwordConfirm' class='form-control' id='passwordConfirm' placeholder='请再次输入密码'> </div> </div><button type='button' id='signupSubmit' class='btn btn-primary loginButton' data-dismiss='modal'><span  aria-hidden='true'></span>注册</button>");


        });

        $("#signinSubmit").click(function(){

            var url="${rc.contextPath}/login/accessLogin";
            var userName = $("#userName").val();
            var password = $("#password").val();

            ajaxPost(url,{"userName":userName,"password":password},

                function(value){

                    if("登录成功"==value ){
                            dialogShow("登录成功");
                             closeDialog();
                    }else {
                        dialogShow("登录失败");
                    }
            },null,false );
        })

    });
</script>


<style  >
    .action-title
    {
        border-bottom:1px solid #f0310b;
        color: #f02312;
    }
    .dialog-body
    {
        height: 320px;
        width: 280px;
    }
    .signup-dialog-body
    {
        height: 382px;
        width: 280px;
    }
    .loginButton{
        position: absolute;
        right: 5%;
        width:90%;
    }
    .titleFont{
        font-family:Microsoft YaHei
    }
    .dialogPosition{
        position:fixed;
        left: 20%;
    }
</style>

    <div class="modal fade" id="loginDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog"  role="document">
            <div class="modal-content dialog-body dialogPosition" id="loginBody" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class = "header_title">
                        <span id = "signin" class = "action-title titleFont" style="cursor:pointer">登录</span>
                        <span id = "signup" class = "titleFont" style="cursor:pointer">注册</span>
                    </h4>
                </div>
                <div class="modal-body" id = "signinBody">

                    <div class="form-group">
                        <label for="userName">用户名</label>
                        <input type="text" name="userName" class="form-control" id="userName" placeholder="请输入用户名/账号">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password"  name="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>

                </div>


                    <button type="button" id="signinSubmit" class="btn btn-primary loginButton" data-dismiss="modal"><span  aria-hidden="true"></span>登录</button>

            </div>





        </div>
    </div>
</body>
</html>
