<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="${rc.contextPath}/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <c:set var="path" value="${pageContext.request.contextPath}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>$!{message}</div>
<h2>Hello
    #if(${user.username})
        ${user.username}
    #else
        World
    #end!</h2>
<form action="/adduser">
    <div class="form-group">
        <input type="text" class="input-sm" id="username" name="username"/>
        <input type="text" class="input-sm" id="password" name="password"/>
    </div>
    <button type="submit">提交</button>
    <button id="login">登录</button>
    <button id="signup">注册</button>
</form>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="${rc.contextPath}/static/jquery/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="${rc.contextPath}/static/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="test/javascript">
    $(document).ready(function(){
        $("#id").click(function(){
            var url = "${path}/personalContacts/contacts/edit?contactsId=" + contactsId;
		    openDialog(url, , 400, 350,true);
        });

    });


</script>
</body>
</html>
