<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jamedow.laodoufang.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.jamedow.laodoufang.entity.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="traffic_volume" jdbcType="INTEGER" property="trafficVolume" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="vote_up" jdbcType="INTEGER" property="voteUp" />
    <result column="vote_down" jdbcType="INTEGER" property="voteDown" />
      <result column="is_official" jdbcType="CHAR" property="isOfficial"/>
      <result column="user_id" jdbcType="INTEGER" property="userId"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jamedow.laodoufang.entity.Product">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, price, sales_volume, intro, create_time, traffic_volume, link_url, img_url,
      category, tags, vote_up, vote_down, is_official, user_id
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jamedow.laodoufang.entity.ProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jamedow.laodoufang.entity.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jamedow.laodoufang.entity.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jamedow.laodoufang.entity.Product">
    insert into product (id, name, price, 
      sales_volume, intro, create_time, 
      traffic_volume, link_url, img_url, 
      category, tags, vote_up,
      vote_down, is_official, user_id,
      detail)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{salesVolume,jdbcType=INTEGER}, #{intro,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{trafficVolume,jdbcType=INTEGER}, #{linkUrl,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{category,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, #{voteUp,jdbcType=INTEGER},
      #{voteDown,jdbcType=INTEGER}, #{isOfficial,jdbcType=CHAR}, #{userId,jdbcType=INTEGER},
      #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jamedow.laodoufang.entity.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="salesVolume != null">
        sales_volume,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="trafficVolume != null">
        traffic_volume,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="voteUp != null">
        vote_up,
      </if>
      <if test="voteDown != null">
        vote_down,
      </if>
        <if test="isOfficial != null">
            is_official,
        </if>
        <if test="userId != null">
            user_id,
        </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="salesVolume != null">
        #{salesVolume,jdbcType=INTEGER},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trafficVolume != null">
        #{trafficVolume,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="voteUp != null">
        #{voteUp,jdbcType=INTEGER},
      </if>
      <if test="voteDown != null">
        #{voteDown,jdbcType=INTEGER},
      </if>
        <if test="isOfficial != null">
            #{isOfficial,jdbcType=CHAR},
        </if>
        <if test="userId != null">
            #{userId,jdbcType=INTEGER},
        </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jamedow.laodoufang.entity.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.salesVolume != null">
        sales_volume = #{record.salesVolume,jdbcType=INTEGER},
      </if>
      <if test="record.intro != null">
        intro = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trafficVolume != null">
        traffic_volume = #{record.trafficVolume,jdbcType=INTEGER},
      </if>
      <if test="record.linkUrl != null">
        link_url = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=INTEGER},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.voteUp != null">
        vote_up = #{record.voteUp,jdbcType=INTEGER},
      </if>
      <if test="record.voteDown != null">
        vote_down = #{record.voteDown,jdbcType=INTEGER},
      </if>
        <if test="record.isOfficial != null">
            is_official = #{record.isOfficial,jdbcType=CHAR},
        </if>
        <if test="record.userId != null">
            user_id = #{record.userId,jdbcType=INTEGER},
        </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update product
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      sales_volume = #{record.salesVolume,jdbcType=INTEGER},
      intro = #{record.intro,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      traffic_volume = #{record.trafficVolume,jdbcType=INTEGER},
      link_url = #{record.linkUrl,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR},
      vote_up = #{record.voteUp,jdbcType=INTEGER},
      vote_down = #{record.voteDown,jdbcType=INTEGER},
      is_official = #{record.isOfficial,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=INTEGER},
      sales_volume = #{record.salesVolume,jdbcType=INTEGER},
      intro = #{record.intro,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      traffic_volume = #{record.trafficVolume,jdbcType=INTEGER},
      link_url = #{record.linkUrl,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR},
      vote_up = #{record.voteUp,jdbcType=INTEGER},
      vote_down = #{record.voteDown,jdbcType=INTEGER},
      is_official = #{record.isOfficial,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jamedow.laodoufang.entity.Product">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="salesVolume != null">
        sales_volume = #{salesVolume,jdbcType=INTEGER},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trafficVolume != null">
        traffic_volume = #{trafficVolume,jdbcType=INTEGER},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="voteUp != null">
        vote_up = #{voteUp,jdbcType=INTEGER},
      </if>
      <if test="voteDown != null">
        vote_down = #{voteDown,jdbcType=INTEGER},
      </if>
        <if test="isOfficial != null">
            is_official = #{isOfficial,jdbcType=CHAR},
        </if>
        <if test="userId != null">
            user_id = #{userId,jdbcType=INTEGER},
        </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jamedow.laodoufang.entity.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      sales_volume = #{salesVolume,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      traffic_volume = #{trafficVolume,jdbcType=INTEGER},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      vote_up = #{voteUp,jdbcType=INTEGER},
      vote_down = #{voteDown,jdbcType=INTEGER},
      is_official = #{isOfficial,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jamedow.laodoufang.entity.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      sales_volume = #{salesVolume,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      traffic_volume = #{trafficVolume,jdbcType=INTEGER},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      vote_up = #{voteUp,jdbcType=INTEGER},
      vote_down = #{voteDown,jdbcType=INTEGER},
      is_official = #{isOfficial,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>